# Dependencies
node_modules/
.pnp
.pnp.js

# Production build
dist/
dist-ssr/
*.local

# Logs and debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
dev.err
dev.out

# Editor & System
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# Agent files
.agents/
